.advantages {
  padding-top: 40px;
}

.advantages__slogan {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-transform: uppercase;
  color: black;
  text-align: center;

  max-width: 265px;
  margin: 0 auto;
  padding: 0;
}

.advantages__topic {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.75;
  text-transform: uppercase;
  color: #333333;
  text-align: center;

  max-width: 265px;
  margin: 0 auto;
  padding: 30px 0 10px 0;
}

.advantages__list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.advantages__item {
  background-color: #81b3d2;
}

.advantages__item--city {
  background: #81b3d2 url("../../img/bg-triangle.svg") top no-repeat;
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-transform: uppercase;
  color: white;
  text-align: center;

  margin: 0;
  padding: 28px 0 45px 0;
}

.advantages__item:first-child {
  padding: 48px 0 45px 0;
}

.advantages__description {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-transform: uppercase;
  color: white;
  text-align: center;

  margin: 0;
  padding: 0 20px 30px 20px;
}

.advantages__item--area,
.advantages__item--road,
.advantages__item--quietly {
  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;
}

.advantages__item--quietly {
  border-bottom: none;
}

.advantages__title--area,
.advantages__title--road,
.advantages__title--quietly {
  color: black;
}

.advantages__description--area,
.advantages__description--road,
.advantages__description--quietly {
  color: #333333;
}
