.city-list {
  list-style: none;

  margin: 0;
  padding: 26px 0 0 0;
}

.city-list__item {
  background-color: white;
  padding: 0;
}

.city-list__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-transform: uppercase;
  color: black;
  text-align: left;

  margin: 0;
  padding: 0;
}

.city-list__description {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-transform: uppercase;
  color: black;
  text-align: left;

  margin: 0;
  padding: 0 0 20px 0;
}
