.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
}

.copyright__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.86;
  text-transform: uppercase;
  color: black;
  text-align: center;

  margin: 0;
  padding: 2px 0 0 0;
}

.copyright__link {
  display: block;
}

.copyright__link:hover svg {
  fill: #81b3d2;
}

.copyright__link:focus svg {
  fill: #81b3d2;
}

.copyright__link:active svg {
  fill: #81b3d2;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
  }

  .copyright__text {
    padding-top: 6px;
  }
}
