.copyright__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.86;
  text-transform: uppercase;
  color: black;
  text-align: center;

  margin: 0;
  padding: 0 0 23px 0;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    padding-top: 45px;
  }
}
