.find-hotel {
  margin: 0;
  padding: 0;
}

.find-hotel__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-transform: uppercase;
  color: black;
  text-align: center;

  margin: 32px 0 20px 0;
  padding: 0;
}

.find-hotel__description {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-transform: uppercase;
  color: #333333;
  text-align: center;

  max-width: 280px;
  margin: 0 auto;
  padding: 0;
}

.find-hotel iframe {
  width: 100%;
}

.find-hotel__button {
  display: block;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-transform: uppercase;
  color: white;
  text-align: center;

  width: 280px;
  margin: 36px auto 44px;
  padding: 15px 0;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #669ec0;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .find-hotel__title {
    font-size: 30px;
    line-height: 0.87;

    padding: 22px 0 14px 0;
  }

  .find-hotel__description {
    max-width: 445px;
    padding: 0 0 6px 0;
  }

  .find-hotel__button {
    width: 458px;
    margin-bottom: 54px;
    padding: 16px 0;
  }
}

@media (min-width: $desktop-width) {
  .find-hotel__description {
    padding: 0 0 10px 0;
  }

  .find-hotel__button {
    margin-bottom: 62px;
  }
}
