.find-hotel {
  box-sizing: border-box;
  height: 638px;
  padding: 0;
  background-color: tomato;
}

.find-hotel__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-transform: uppercase;
  color: black;
  text-align: center;

  margin: 0;
  padding: 0;
}

.find-hotel__description {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-transform: uppercase;
  color: #333333;
  text-align: center;

  max-width: 280px;
  margin: 0 auto;
  padding: 0;
}

/*.find-hotel__button {
  display: block;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-transform: uppercase;
  color: white;
  text-align: center;

  width: 280px;
  margin: 0 auto;
  padding: 15px 0;
  background-color: #81b3d2;
}*/

@media (min-width: $tablet-width) {
  .find-hotel {
    height: 668px;
  }

  /*.find-hotel__title {
    font-size: 30px;
    line-height: 0.87;

    padding: 0 0 32px 0;
  }

  .find-hotel__description {
    max-width: 445px;
    padding: 0 0 45px 0;
  }

  .find-hotel__button {
    width: 458px;
    margin-bottom: 58px;
    padding: 16px 0;
  }*/
}

@media (min-width: $desktop-width) {
  .find-hotel {
    height: 681px;
  }

  /*.find-hotel__description {
    padding: 0 0 50px 0;
  }*/
}
