.page-footer {
  max-width: 320px;
  margin: 0 auto;
  background-color: #fefefe;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: black;
  text-align: center;

  margin: 0;
  padding: 40px 0;
}
