.page-header {
  max-width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

.page-header-nav__list {
  margin: 0;
  padding: 0;
}

.page-header__menu {
  min-height: 56px;
  background-color: white;
}

.page-header__intro {
  min-height: 389px;
  background: url("../img/bg-intro-triangle-mobile.svg") bottom no-repeat, #2b3c44 url("../img/bg-back-mobile@1x.jpg") center no-repeat;
}

.page-header__background {
  min-height: 389px;
  background: url("../img/bg-intro-triangle-mobile.svg") bottom no-repeat, #2b3c44 url("../img/bg-back-mobile@1x.jpg") center no-repeat;
}
