.page-footer {
  max-width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: #fefefe;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-transform: uppercase;
  color: black;
  text-align: center;

  margin: 0;
  padding: 30px 0 40px 0;
}
