.page-main {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

.page-main__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-transform: uppercase;
  color: black;
  text-align: center;

  margin: 0;
  padding: 40px 0 30px 0;
}

.page-main__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-transform: uppercase;
  color: #333333;
  text-align: center;

  margin: 0;
  padding: 0 0 15px 0;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: auto;
    margin: 0;
  }

  .page-main__title {
    font-size: 30px;
    line-height: 0.87;
  }

  .page-main__text {
    max-width: 440px;
    margin: 0 auto;
  }
}
