.page-footer {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  width: 152px;
  margin: 0 auto;
  padding: 37px 0 20px 0;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-transform: uppercase;
  color: black;
  text-align: center;

  margin: 0;
  padding: 0;
}

.page-footer__social {
  padding: 38px 0 41px 0;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: auto;
    margin: 0;
  }

  .page-footer__wrapper {
    display: flex;
    min-height: 120px;
    justify-content: space-between;
    align-items: center;
    width: $tablet-width;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 60px;
  }

  .page-footer__social {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding: 0 120px;
    width: $desktop-width;
  }
}
