.popup {
  display: none;
  padding: 60px 52px 35px 52px;
  background-color: white;
  position: fixed;
  top: 100px;
  z-index: 1;
}

.popup__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-transform: uppercase;
  color: black;
  text-align: center;

  margin: 0;
  padding: 0;
}

.popup__description {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-transform: uppercase;
  color: #333333;
  text-align: center;

  margin: 20px 0;
  padding: 0;
}

.popup__close {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-transform: uppercase;
  color: white;
  text-align: center;

  margin: 0 auto;
  padding: 16px 0;
  background-color: #81b3d2;
  width: 180px;
  border: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #669ec0;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.popup__show {
  display: block;
}

@media (min-width: $tablet-width) {
  .popup--success {
    left: calc(50% - 320px);
    width: 640px;
    box-sizing: border-box;
    padding: 40px 90px;
  }

  .popup--denied {
    left: calc(50% - 200px);
    width: 400px;
    box-sizing: border-box;
    padding: 60px 64px 49px 64px;
  }

  .popup__title {
    font-size: 30px;
    line-height: 0.87;
    margin-bottom: 30px;
  }

  .popup__close {
    font-size: 21px;
    line-height: 1.24;
  }

  .popup--success .popup__close {
    margin-top: 70px;
    width: 458px;
  }

  .popup--denied .popup__close {
    margin-top: 25px;
    width: 272px;
  }
}
