.review__block {
  border-top: 1px solid #e5e5e5;
  padding: 17px 20px 22px 20px;
}

.review__block fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.review__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-transform: uppercase;
  color: black;
  text-align: center;

  margin: 0;
  padding: 0;
}

.review__item {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0 0;
  padding: 0;
}

.review__item label {
  font-size: 14px;
  font-weight: normal;
  line-height: 58px;
  text-transform: uppercase;
  color: #333333;
  margin-right: 15px;
}

.review__block input::placeholder,
.review__answers,
.review__block textarea::placeholder {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: black;
  text-align: left;
  padding-left: 20px;
}

.review__block textarea::placeholder {
  padding: 16px 33px 0 18px;
}

.review__answers {
  position: relative;
  padding: 12px 0 11px 80px;
  margin: 0;
}

.review__item input {
  min-height: 58px;
  background-color: #f2f2f2;
  border: none;
  flex-grow: 1;
}

.review__item--mobile input,
.review__item--mail input {
  min-width: 250px;
}

.review__block--contacts {
  padding-bottom: 26px;
}

.review__block--contacts .review__title {
  margin-bottom: 10px;
}

.review__block--contacts .review__item {
  margin: 0;
}

.review__item--mobile label,
.review__item--mail label {
  line-height: 1.86;
  margin: 10px 0 8px 21px;
  width: 170px;
}

.review__item--mobile,
.review__item--mail {
  position: relative;
}

.review__item--mobile::after,
.review__item--mail::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #e6e6e6;
  background-position: center;
  bottom: 0;
  right: 0;
  width: 58px;
  height: 58px;
}

.review__item--mobile::after {
  background-image: url("../img/icon-phone.svg");
}

.review__item--mail::after {
  background-image: url("../img/icon-mail.svg");
}

.review__answers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  width: 54px;
  height: 54px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.review__option-input:checked + .review__answers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  width: 22px;
  height: 22px;
  background: #333333;
  border: 16px solid #f2f2f2;
  border-radius: 50%;
}

.review__sight-item .review__answers::before {
  border-radius: 0;
}

.review__option-input:checked + .review__answers--sight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  border-radius: 0;
  background: #f2f2f2;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.review__option,
.review__sight-item {
  margin: 22px 0 44px 0;
}

.review__block--rating .review__title {
  margin-bottom: 16px;
}

.review__block--rating {
  padding-bottom: 1px;
}

.review__block textarea {
  width: 100%;
  min-height: 160px;
  background-color: #f2f2f2;
  border: none;
  margin-top: 18px;
}

.review__sight-list {
  list-style: none;

  margin: 33px 0 0 0;
  padding: 0;
}

.review__sight-list .review__sight-item {
  margin: 0 0 55px 0;
}

.review__sight-list .review__sight-item:last-child {
  margin: 0 0 21px 0;
}

.review__wrapper-button {
  margin: 23px 0 34px 0;
}

.review__button {
  display: block;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-transform: uppercase;
  color: white;
  text-align: center;

  border: none;
  width: 280px;
  margin: 0 auto;
  padding: 15px 0 17px 0;
  background-color: #81b3d2;
}

.review__note {
  display: none;
}

@media (min-width: $tablet-width) {
  .review {
    display: flex;
    flex-wrap: wrap;
    width: $tablet-width;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1px 60px 60px 60px;
  }

  .review__block {
    padding: 0;
    width: 100%;
    border: none;
  }

  .review__block fieldset {
    border-top: 1px solid #dbdbdb;
  }

  .review__title {
    font-size: 21px;
    line-height: 1.24;
    padding: 59px 0 37px 0;
  }

  .review__block--contacts {
    margin-top: 20px;
  }

  .review__block--contacts .review__title {
    padding: 15px 0 15px 0;
    margin: 0;
  }

  .review__item {
    margin: 19px 0 0 0;
  }

  .review__block--rating .review__option {
    margin: 22px 0 52px 0;
  }

  .review__answers--sight {
    padding-left: 76px;
  }

  .review__block--introduce,
  .review__block--rating {
    max-width: 50%;
  }

  .review__block--introduce fieldset,
  .review__block--rating fieldset {
    border: none;
  }

  .review__block--introduce .review__title,
  .review__block--rating .review__title {
    text-align: left;
  }

  .review__block--introduce fieldset {
    border-left: 1px solid #dbdbdb;
    padding-left: 55px;
  }

  .review__block--rating {
    order: -1;
  }

  .review__sight-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 18px 96px 20px;
  }

  .review__sight-list .review__sight-item {
    width: 50%;
    margin: 0 0 64px 0;
  }

  .review__block--contacts input {
    width: 100%;
  }

  .review__note {
    display: inline;
    line-height: 58px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
  }

  .review__wrapper-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 58px 0 0 0;
  }

  .review__button {
    width: 324px;
    margin: 0;
    padding: 16px 0;
  }
}

@media (min-width: $desktop-width) {
  .review {
    width: $desktop-width;
    margin: 0 auto;
    padding: 60px 120px;
  }

  .review__block--contacts .review__item-wrapper {
    display: flex;
  }

  .review__block--contacts .review__item {
    width: 50%;
  }

  .review__sight-list {
    flex-wrap: nowrap;
  }

  .review__button {
    width: 480px;
  }
}
