.video {
  position: relative;
  margin: 0 auto;
  padding: 35px 0 36px 0;
  border-top: 1px solid #e5e5e5;
  width: 320px;
}

.video__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-transform: uppercase;
  color: black;
  text-align: center;

  margin: 0;
  padding: 0;
}

.video__description {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-transform: uppercase;
  color: #333333;
  text-align: center;

  max-width: 265px;
  margin: 27px auto 37px;
  padding: 0;
}

.video__item {
  display: block;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.video__controls-block {
  margin: 0 auto;
  padding: 0;
}

.video__scale {
  position: absolute;
  margin: 0 auto;
  display: flex;
  left: 6.25%;
  bottom: 102px;
  width: 280px;
  min-height: 45px;
  background-color: rgba(0, 0, 0, 0.6);

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 7.86%;
    width: 83.9%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 20.36%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
  }
}

@media (min-width: $tablet-width) {
  .video {
    width: $tablet-width;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 67px 60px 40px 60px;
  }

  .video__title {
    font-size: 30px;
    line-height: 0.87;
  }

  .video__description {
    max-width: 415px;
    margin-top: 30px;
    padding-bottom: 38px;
  }

  .video__controls-block {
    margin: 0;
    padding: 0;
  }

  .video__scale {
    left: 60px;
    bottom: 38px;
    width: 648px;
    min-height: 93px;

    &::before {
      top: 44px;
      left: 14.35%;
      width: 60%;
    }

    &::after {
      top: 40px;
      left: 31.64%;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

@media (min-width: $desktop-width) {
  .video {
    width: $desktop-width;
    padding: 70px 0 85px 0;
  }

  .video__item {
    margin: 0 auto;
  }

  .video__description {
    margin-top: 31px;
    padding-bottom: 35px;
  }

  .video__scale {
    left: 199px;
    bottom: 85px;
    width: 800px;
    min-height: 93px;

    &::before {
      top: 45px;
      left: 11.6%;
      width: 67.5%;
    }

    &::after {
      top: 42px;
      left: 25.63%;
    }
  }
}
