.video {
  box-sizing: border-box;
  height: 497px;
  /*padding: 35px 0 49px 0;*/
  border-top: 1px solid #e5e5e5;
  background-color: tomato;
}

.video__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-transform: uppercase;
  color: black;
  text-align: center;

  margin: 0;
  padding: 0;
}

.video__description {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-transform: uppercase;
  color: #333333;
  text-align: center;

  max-width: 265px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .video {
    box-sizing: border-box;
    height: 784px;
    width: $tablet-width;
    margin: 0 auto;
    /*padding: 60px 60px 40px 60px;*/
  }

  .video__title {
    font-size: 30px;
    line-height: 0.87;

    padding: 60px 0 30px 0;
  }

  .video__description {
    max-width: 415px;
    padding-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    box-sizing: border-box;
    height: 831px;
    width: $desktop-width;
  }
}
